<?xml version="1.0" encoding="UTF-8"?>
<plugin

   id="RRJsonInput"
   iconfile="icon.png"
   description="RRJsonInput"
   tooltip="input Json output field"
   category="GamesPlugins"
   classname="com.renren.games.data.tech.kettle.plugin.jsoninput.RRJsonInputMeta">
		
		<libraries>
    		<library name="RRJsonInput.jar"/>
		</libraries>
		
</plugin>
